@model Service
<div class="col-6">
    <div class="card shadow mb-4">
        <div class="card-header">
            <strong class="card-title">Are you sure delete @Model.Name ?</strong>
        </div>
        <div class="card-body">
            <form method="post">



                <button type="submit" class="btn btn-danger ">Yes</button>
                <a class="btn btn-secondary" asp-action="Index">Go Back</a>
            </form>
        </div>
    </div>
</div>

